:root {
    --bg-color: #f2f0f0;
    --block-bg-color: white;
    --shadow-color: #ccc;
    --gsom-main-color: #be1e2d;
    --gsom-secondary-color: #737373;
    --secondary-color: #606060;
    --light-marker: #efe;
}

*, ::after, ::before {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    background-color: var(--bg-color);
}

.not-loaded {
    opacity: 0
}

aside {
    float: right;
    padding: 4rem 3rem 2rem 0 ;
}

.mobile aside {
    float: none;
    display: block;
    padding: 2rem 0 0 0;
}

footer {
    display: block;
    font-size: 80%;
    text-align: center;
    background-color: var(--shadow-color);
    color: var(--gsom-secondary-color);
    padding: 1rem;
    margin-top: 1rem;
    float: bottom;
}

.btn{
    display: block;
    cursor: pointer;
}
.custom-shadow {
    box-shadow: -0px 0 4px var(--shadow-color);
}

.block {
    font-family: 'Montserrat', sans-serif;
    display: block;
    background-color: var(--block-bg-color);
    border: none;
    border-radius: 2px;
}

.title {
    margin-top: 2rem;
    width: 100%;
}

.img-btn {
    height: 2rem;
    cursor: pointer;
}

.badge {
    background-color: var(--gsom-main-color);
    padding: 0.3rem;
    border-radius: 0.5rem;
    color: white;
}

.beta-span {
    background-color: dodgerblue;
    padding: 0.2rem;
    border-radius: 0.5rem;
    font-size: 75%;
    color: white;
}

.side-card{
    width: 20em;

}

.main-gpa {
    padding: 1em;
}

.gpa-info {
    padding: auto;
    height: 11em;
    width: 20em;
}

.gpa-num {
    font-size: 300%;
    text-anchor: middle;

}

circle {
    fill: var(--block-bg-color);
}

svg.round-bar {
    width: 160px;
    height: 160px;
    margin: calc(5.5rem - 80px) calc(50% - 80px);
}

/*modal*/
.modal{
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-content{
    margin: 10% auto;
}

/*login form*/
.login {
    padding: 1.5em;
    width: 20em;
}

.login form {
    width: 100%
}

.login h2 {
    margin: 0 0 1em 0;
}

.login h3 {
    margin: 0 0 1em 0;
}

.login input {
    font-family: 'Montserrat', sans-serif;
    font-size: 100%;
    border-radius: 1em;
    border-style: solid;
    border-width: 1.5px;
    border-color: var(--gsom-secondary-color);
    height: 1.8em;
    padding: 0 1em;
    margin: 0.5em;
    width: 16em;
}

.login label{
    font-family: 'Montserrat', sans-serif;
    font-size: 100%;
    height: 1.8em;
    padding: 0 1em;
    margin: 0.5em;
    width: 16em;
}

.login label .checkbox{
    width: 2em;
    display: block;
}

.login .btn-submit {
    border-color: var(--gsom-main-color);
    background-color: var(--gsom-main-color);
    color: var(--bg-color);
    cursor: pointer;
}

.login .btn-submit:hover {

    color: var(--gsom-main-color);
    background-color: rgba(255, 255, 255, 0);

}

.login .btn-secondary {
    border-style: none;
    border-width: 0;
    background-color: #00000000;
    color: var(--secondary-color);
    cursor: pointer;
}

.login .btn-secondary:hover {

    background-color: #be1e2d10;

}

/*quote*/
.quote {
    height: 320px;
    width: 900px;
    padding: 32px;
    margin-top: 32px;
    margin-left: auto;
    margin-right: auto;
}

.quote-main {
    display: block;
    float: left;
    width: calc(70% - 32px);
    height: 100%;
    margin-right: 32px;
}


.quote-text {
    width: 100%;
    float: right;
    font-family: 'Cormorant Garamond', serif;
    font-style: italic;
    font-size: 80px;
    margin: 0;
}

.quote-author {
    font-style: normal;
    font-size: 24px;
    display: block;
    float: right;
    height: 20%;
}

.quote-image {
    width: 30%;
    display: block;
    float: right;
    border-radius: 1000px;
}

/*navbar*/
.navbar {
    height: 4rem;
    box-shadow: 0 0 5px #333333;
    display: block;
    color: var(--gsom-main-color);
    background-color: var(--block-bg-color);
    font-weight: bold;
    min-width: 500px;

}

.navbar-brand {
    display: block;
    height: 100%;
    text-decoration: none;
    font-size: 150%;
    float: left;
    padding: 1rem;
    color: var(--gsom-main-color);
}

.navbar-nav {
    display: block;
    height: 100%;
    list-style-type: none;
    margin: 0;
    padding: 1rem;
    float: left;
}

.navbar-right {
    display: block;
    height: 100%;
    list-style-type: none;
    margin: 0;
    padding: 1rem;
    float: right;
}

.nav-item {
    display: inline-block;
    padding: 0.4em;

}

.nav-link {
    text-decoration: none;
    color: var(--gsom-secondary-color);
}

.nav-link:hover {
    color: var(--gsom-main-color);
}

.login-menu-button{
    border-style: none;
    background-color: var(--block-bg-color);
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 100%;
}

.user-icon{
    border-style: none;
    border-radius: 100%;
    height: 3.2rem;
    margin:0.4rem;
    float: right;
}

/* mark */

.mark {
    width: 100%;
    height: 4rem;
    margin: 0;
    padding: 0;
}

.divider {
    height: 2px;
    margin-right: 1rem;
    margin-left: 1rem;
    width: calc(100% - 2rem);
    display: block;
    background-color: lightgray;
}

.mark-item {
    height: 4rem;
    float: left;
    padding: 1rem;
    line-height: 2rem;
}

.mark-subject {
    min-width: 180px;
    width: 60%;
}

.mark-code {
    min-width: 60px;
    width: 20%;
}

.mark-input {
    font-size: 100%;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
}

.mark-number {
    min-width: 60px;
    width: 20%;
}

.mark-non-relevant {
    color: gray;
    font-style: italic;
}

.mark-error {
    background-color: #fe9090;
}

/*semester card*/
.sem-card {
    width: calc((100% - 4rem) / 3);
    margin-right: 2rem;
    min-width: 300px;
    display: inline-block;
}

@media (max-width: 1500px) {
    .sem-card {
        width: calc((100% - 2rem) / 2);
        margin-right: 2rem;
    }

}

@media (max-width: 1168px) {
    .sem-card {
        width: 100%;
    }
}

.last-sc {
    margin-right: 0;
}

.sem-header {
    font-size: 140%;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
}

/*student-list*/
.list-header{
    font-weight: bold;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}

.list-item-part{
        display: inline-block;

}
.student-list{
    margin-top: 4rem;
    width: 100%;
    text-align: center;
}

.students-header{
    padding: 1em;
}
.student{
    padding: 1em;
    display: block;
}

.student-index{
    width: 3em;
}
.student-name{
    width: calc(100% - 29em);
    text-align: left;
}

.student-gpa{
    width: 4em;
}

.student-wanted-dir {
    width: 10em;
}

.student-expected-dir{
    width: 10em;
}

.current{
    background-color: var(--light-marker);
    font-weight: bold;
}

/*priority*/
.side-card h3{
    padding: 1rem;
    margin: 0;
}

.side-content{
    padding: 0 1rem 1rem 1rem;
    margin: 0 0 1rem;
}

.priority{
    width: 100%;
    height: 3em;
    padding: 0.5em 1em;
    box-shadow:  0 1px 1px var(--shadow-color);
}
.priority-controls{
    width: 2rem;
    display: inline-block;
}

.priority-order-number{
    width: 2rem;
    text-align: center;
    margin: 0;
}
.priority-name{
    margin: 0;
    width: calc(100% - 4rem);
    font-size: 125%;
    height: 100%;
    vertical-align: top;
    line-height: 2rem;
    text-align: center;
    display: inline-block;
}

/*container*/
.container-wid {
    padding-left: 3rem;
    padding-right: 1rem;
    min-width: 500px;
    min-height: 900px;
    width: calc(100% - 320px - 7rem);
    display: block;
}

@media (max-width: 980px) {
    .container-wid {
        padding-left: 2em;
        padding-right: 2em;
    }
}

@media (max-width: 576px) {
    .container-wid {
        padding-left: 0;
        padding-right: 0;
    }
}

.mobile .container-wid {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}

/* checkbox*/
.checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
    margin: 10px 0 0 20px;
}

.checkbox + label {
    position: relative;
    padding: 0 0 0 60px;
    cursor: pointer;
}

.checkbox + label:before {
    content: '';
    position: absolute;
    top: -4px;
    left: 0;
    width: 50px;
    height: 26px;
    border-radius: 13px;
    background: #CDD1DA;
    box-shadow: inset 0 2px 3px rgba(0, 0, 0, .2);
    transition: .2s;
}

.checkbox + label:after {
    content: '';
    position: absolute;
    top: -2px;
    left: 2px;
    width: 22px;
    height: 22px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
    transition: .2s;
}

.checkbox:checked + label:before {
    background: var(--gsom-main-color);
}

.checkbox:checked + label:after {
    left: 26px;
}

.mobile {
    font-size: 200%;
}

.mobile .navbar {
    height: 3em;
    min-width: 870px;
}

.mobile .sem-card {
    min-width: 580px;
    width: 100%;
}

.mobile .mark {
    height: 3em;
    font-size: 120%;
}

.mobile .mark-item {
    height: 3em;
    padding: 1em;
}

.mobile .mark-actions {
    width: 200px;
}

.mobile .mark-subject {
    min-width: 360px;
    width: calc(60% - 120px);
}

.mobile .mark-code {
    min-width: 120px;
    width: calc(20% - 40px);
}

.mobile .mark-number {
    min-width: 120px;
    width: calc(20% - 40px);
}

.mobile .mark-input {
    margin: -1em;
    width: calc(100% + 2em);
    height: 3em;
}

.mobile .marks-list {
    height: 100%;
}

.mobile .container-wid {
    margin: 0;
    min-width: 870px;

}


.mobile .checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
    margin: 20px 0 0 40px;
}

.mobile .checkbox + label {
    position: relative;
    padding: 0 0 0 120px;
    cursor: pointer;
}

.mobile .checkbox + label:before {
    content: '';
    position: absolute;
    top: -8px;
    left: 0;
    width: 100px;
    height: 52px;
    border-radius: 26px;
    background: #CDD1DA;
    box-shadow: inset 0 4px 6px rgba(0, 0, 0, .2);
    transition: .2s;
}

.mobile .checkbox + label:after {
    content: '';
    position: absolute;
    top: -4px;
    left: 4px;
    width: 44px;
    height: 44px;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0 4px 10px rgba(0, 0, 0, .3);
    transition: .2s;
}

.mobile .checkbox:checked + label:before {
    background: var(--gsom-main-color);
}

.mobile .checkbox:checked + label:after {
    left: 52px;
}

.mobile .login {
    padding: 1.5em;
    width: 100%;
}

.mobile .login input {
    width: calc(100% - 4em);
}