<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-band="http://www.w3.org/1999/xhtml"
      xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">

    <link href="../static/css/styles.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/json2html/1.2.0/json2html.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/tween.js@16.3.4"></script>
    <script src="https://cdn.jsdelivr.net/npm/color-js@1.0.3"></script>


    <title>Rating</title>
</head>
<body>
<div :class="{'mobile' : isMobile}" id="rating">
    <nav class="navbar">
        <a class="navbar-brand" href="/">GSOM</a>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="../calculator">Калькулятор <span class="badge beta-span">beta</span> </a> <!---->
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">Рейтинг</a>
            </li>
        </ul>
        <ul class="navbar-right">
            <li class="nav-item">
                <input type="checkbox" class="checkbox" id="mobile" name="mobile" v-model="isMobile">
                <label for="mobile">Mobile</label>
            </li>
            <li class="nav-item">
                <button class="btn login-menu-button" id="login-btn">Войти</button>
            </li>
        </ul>
    </nav>
    <div id="login-modal" class="modal">
        <div class="modal-content block login">
            <h2>Вход</h2>
            <form method="post" id="login-form" action="">
                <input type="text" class="login" name="login" placeholder="Логин">
                <input type="password" class="password" name="password" placeholder="Пароль">
                <input type="button" class="btn btn-submit" id="login" value="Войти">
            </form>
            <input type="button" class="btn btn-secondary" id="reg-from-login-btn" value="Регистрация">
        </div>
    </div>
    <div id="register-modal" class="modal ">
        <div class="modal-content block login">
            <h2>Регистрация</h2>
            <form method="post" id="registration-form" action="">
                <input type="text" class="login" name="login" placeholder="Логин">
                <input type="password" class="password" name="password" placeholder="Пароль">
                <input type="password" class="password" name="password_copy" placeholder="Повторите пароль">
                <!--TODO: RE-capcha -->
                <input type="button" class="btn btn-submit" id="register" value="Зарегистрироваться">
            </form>
            <input type="button" class="btn btn-secondary" id="login-from-reg-btn" value="Вход">
        </div>
    </div>
    <aside>
        <div class="side-card block custom-shadow">
            <h3>Сводка</h3>
            <div class="side-content">
                <div>Средний балл: <b style="font-size:150%">{{currentStudent['gpa']}}</b></div>
                <div>Место в рейтинге: <b style="font-size:150%">{{getCurrentPlace(false)}}</b></div>
                <div>Место в общем рейтинге: <b style="font-size:150%">{{getCurrentPlace(true)}}</b></div>
                <div>Прогноз: <b style="font-size:150%">{{user_namings[currentStudent['predictedDirection']]}}</b></div>
            </div>

        </div>
        <div class="side-card block custom-shadow" id="prioritiser">
            <h3>Приоритеты</h3>
            <div class="priority" v-for="(prior,index) in priorities">
                <img class="img-btn" alt="up" src="../static/images/icons/up-arrow.svg"  v-on:click="downPriority(index-1)"
                ><div class="priority-name">{{user_namings[prior]}}</div
                ><img class="img-btn" alt="down" src="../static/images/icons/down-arrow.svg" v-on:click="downPriority(index)"> <!--не трогать мусор!!! при переносе строк между img и div-ом вылезают неожиданные пробелы, от которых едет верстка -->
            </div>
        </div>
    </aside>
    <div class="container-wid">
        <div class="long-content">
            <div class="block custom-shadow">
                <div class="student-list">
                    <div class="students-header">
                        <div class="student-index list-header" v-on:click="getStudentsFromLongShityString()">#</div>
                        <div class="student-name list-header" v-on:click="sortStudentsBy('username')">Имя</div>
                        <div class="student-gpa list-header" v-on:click="sortStudentsBy('gpa')">GPA</div>
                        <div class="student-wanted-dir list-header" v-on:click="sortStudentsBy('expected')">Светлые мечты</div>
                        <div class="student-expected-dir list-header" v-on:click="sortStudentsBy('predicted')">Суровая реальность</div>
                    </div>
                    <div class="student" v-for="(student, index)  in students" :class="{'current' : student['id']==currentStudent['id']}">
                        <div class="list-item-part student-index" :class="{'current' : student['id']==currentStudent['id']}">{{index+1}}</div>
                        <div class="list-item-part student-name">{{student['username']}}</div>
                        <div class="list-item-part student-gpa">{{student['gpa']}}</div>
                        <div class="list-item-part student-wanted-dir">{{user_namings[student['priorities'][0]]}}</div>
                        <div class="list-item-part student-expected-dir">{{user_namings[student['predictedDirection']]}}</div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <footer>
        <p>2019© <a href="https://vk.com/g_charkovsky">g.charkovsky</a>, <a href="https://vk.com/doreshnikov">d.oreshnikov</a>
        </p>
        <p>При поддержке еды из KFC™ и Токио-CITY™, а также антикафе 12 комнат. При сопротивлении со стороны
            my.spbu.ru</p>
    </footer>
</div>


<script src="https://cdn.jsdelivr.net/npm/tween.js@16.3.4"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.3/TweenMax.min.js"></script>
<script src="rating.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
</body>
</html>